<h2>Transfer: <%=h @suresh.owner %> -> <%=h @kiar.owner %> </h2>
<p> <%=h @suresh.owner %>'s new balance:  <%=h @suresh.balance %></p>
<p> <%=h @kiar.owner %>'s new balance:  <%=h @kiar.balance %></p>
