<% content_for :head do %>
  <%= javascript_include_tag "specification_form.js" %>
<% end %>

<%= form_for @specification, :html => {:class => "yform full"} do |f| %>
  <% if @specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specification.errors.count, "error") %> prohibited this specification from being saved:</h2>
      <ul>
      <% @specification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="subcolumns">
      <legend>Ответ на позицию: <h3><%= @specification.entity << ' [' << number_to_currency(@specification.price_with_vat, { :unit => '' }) << '@ ' << number_to_currency(@specification.coast_of_delivery, { :unit => '' }) << ']' %></h3></legend>
      <div class="c50l">
        <div class="subcl type-text">
          <%= f.label :recommended_conditions, 'Рекомендованная цена' %>
          <%= f.text_field :recommended_conditions %>
        </div>
        <div class="subcl type-text">
          <%= f.label :recommended_notice, 'Примечание' %>
          <%= f.text_field :recommended_notice %>
        </div>
      </div>
      <div class="c50r">
        <div class="subcl type-text">
          <%= f.label :recommended_supplier, 'Рекомендованный поставщик' %>
          <%= f.text_field :recommended_supplier %>
        </div>
        <div class="subcr type-select">
          <%= f.label :controller_id, 'АПК' %>
          <%= f.collection_select :controller_id, User.with_role("controller"), :id, :name, :selected => current_user.id %>
        </div>
      </div>
  </fieldset>

  <div class="type-button">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>

<%= form_tag "", :class => "yform full" do %>
  <fieldset>
    <legend>Запрос</legend>
    <div class="subcolumns">
      <div class="c50l">
        <div class="subcl type-text">
          <%= label_tag :project, "Проект" %>
          <%= text_field_tag :project, @specification.project.name, :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :category, "Категория" %>
          <%= text_field_tag :category, @specification.category.name, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :entity, "Номенклатура" %>
          <%= text_field_tag :entity, @specification.entity, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :unit, "Ед.изм." %>
          <%= text_field_tag :unit, @specification.unit, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :supplier, "Поставщик" %>
          <%= text_field_tag :supplier, @specification.supplier, :disabled => true %>
        </div>
      </div>
      <div class="c50r">
	<div class="subcr type-text">
          <%= label_tag :quantity, "Количество" %>
          <%= text_field_tag :quantity, number_with_precision(@specification.quantity, :precision => 2), :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :price_with_vat, "Цена" %>
          <%= text_field_tag :price_with_vat, number_to_currency(@specification.price_with_vat, { :unit => '' }), :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :coast_of_delivery, "Доставка" %>
          <%= text_field_tag :coast_of_delivery, number_to_currency(@specification.coast_of_delivery, { :unit => '' }), :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :contractor, "Менеджер" %>
          <%= text_field_tag :contractor, @specification.contractor.name, :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :notice, "Примечание" %>
          <%= text_field_tag :notice, @specification.notice, :disabled => true %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
