<p id="notice"><%= notice %></p>

<%= form_tag "", :class => "yform full" do %>
  <fieldset>
    <legend>Запрос</legend>
    <div class="subcolumns">
      <div class="c50l">
        <div class="subcl type-text">
          <%= label_tag :project, "Проект" %>
          <%= text_field_tag :project, @specification.project.name, :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :category, "Категория" %>
          <%= text_field_tag :category, @specification.category.name, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :entity, "Номенклатура" %>
          <%= text_field_tag :entity, @specification.entity, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :unit, "Ед.изм." %>
          <%= text_field_tag :unit, @specification.unit, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :supplier, "Поставщик" %>
          <%= text_field_tag :supplier, @specification.supplier, :disabled => true %>
        </div>
      </div>
      <div class="c50r">
	<div class="subcr type-text">
          <%= label_tag :quantity, "Количество" %>
          <%= text_field_tag :quantity, number_with_precision(@specification.quantity, :precision => 2), :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :price_with_vat, "Цена" %>
          <%= text_field_tag :price_with_vat, number_to_currency(@specification.price_with_vat, { :unit => '' }), :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :coast_of_delivery, "Доставка" %>
          <%= text_field_tag :coast_of_delivery, number_to_currency(@specification.coast_of_delivery, { :unit => '' }), :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :contractor, "Менеджер" %>
          <%= text_field_tag :contractor, @specification.contractor.name, :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :notice, "Примечание" %>
          <%= text_field_tag :notice, @specification.notice, :disabled => true %>
        </div>
      </div>
    </div>
  </fieldset>


  <fieldset disabled>
    <div class="subcolumns">
    <legend>Ответ</legend>
      <div class="c50l">
        <div class="subcl type-text">
          <%= label_tag :recommended_conditions, 'Рекомендованная цена' %>
          <%= text_field_tag :recommended_conditions, @specification.recommended_conditions, :disabled => true %>
        </div>
        <div class="subcl type-text">
          <%= label_tag :recommended_notice, 'Примечание' %>
          <%= text_field_tag :recommended_notice, @specification.recommended_notice, :disabled => true %>
        </div>
      </div>
      <div class="c50r">
        <div class="subcl type-text">
          <%= label_tag :recommended_supplier, 'Рекомендованный поставщик' %>
          <%= text_field_tag :recommended_supplier, @specification.recommended_supplier, :disabled => true %>
        </div>
        <div class="subcr type-text">
          <%= label_tag :controller_id, 'Инспектор' %>
          <%= text_field_tag :controller_id, if @specification.controller.nil? then "" else @specification.controller.name end, :disabled => true %>
        </div>
      </div>
  </fieldset>
<% end %>
<br/ >
<% if can? :delete_archived, @specification then %>
  <div style="float:right">
    <%= link_to 'Удалить', @specification, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>  
<br />
<br />

<table class="full">
<colgroup width="5%"></colgroup>
<colgroup width="2%"></colgroup>
<colgroup width="5%"></colgroup>
<colgroup width="40%"></colgroup>
<colgroup width="2%"></colgroup>
<colgroup width="20px"></colgroup>
<colgroup width="20px"></colgroup>
<colgroup width="20px"></colgroup>
<colgroup width="7%"></colgroup>
<colgroup width="5%"></colgroup>	
<thead>
<tr style="font-size:xx-small">
  <th>Изменено</th>		
  <th>Сост.</th>		
  <th>Проект</th>
  <th>Наименование</th>
  <th>Ед.</th>
  <th>Кол-во</th>
  <th>Цена</th>
  <th>Доставка</th>
  <th>Поставщик</th>
  <th>Ответств.</th>
</tr>
</thead>
<tbody>
  <% @specification.specification_logs.each do |specification| %>
  <tr class="<%= specification.state%>" style="font-size:xx-small">
    <td><%= specification.updated_at.strftime("%d.%m.%y %H:%M:%S") %></td>
    <td><%= {'studying'=>'РСИ', 'approving' => 'АПК', 'archived' => 'АРХИВ'}[specification.state] %></td>
    <td><div><%= specification.project.code %></div><div><%= specification.category.code %></div></td>
    <td><%= specification.entity %></td>
    <td><%= specification.unit %></td>
    <td align="right"><%= number_with_precision(specification.quantity, :precision => 2) %></td>
    <td colspan="2">
	<div>
	  <div style="float:left;text-align:right"><%= number_to_currency(specification.price_with_vat, { :unit => '' }) %></div>
	  <div style="text-align:right"><%= number_to_currency(specification.coast_of_delivery, { :unit => '' }) %></div>
	</div>
        <div style="color:red;text-alignt:center;color:red"><%= specification.recommended_conditions %></div>					
    </td>
    <td>
      <div><%= specification.supplier %></div>
      <div style="color:red"><%= specification.recommended_supplier %></div>
    </td>
    <td>
      <div><%= specification.contractor.name if not specification.contractor.nil? %></div>
      <div><%= specification.controller.name if not specification.controller.nil? %></div>
    </td>		
  </tr>
<% end %>		
	
</tbody>
</table>
